.list {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;

  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
}

.listItem {
  padding-right: 20px;
}

.navLink {
  text-decoration: none;
  color: #221122;
  border: solid 1px #222222;
  border-radius: 2px;
  padding: 5px;
}
